@import "../../css-config/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500;600&family=Chela+One&family=Clicker+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Kaushan+Script&family=Lobster+Two:ital,wght@1,700&family=Mali:wght@300;400&family=Merriweather:ital,wght@1,300&family=Patua+One&family=Play:wght@700&family=Righteous&family=Rubik+Moonrocks&family=Satisfy&display=swap');

.products-container{
    margin: 50px 0;
    @include md{
        margin: 75px 0;
    }
    .sec-heading{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #04aa6d;
        font-family: 'Arima', cursive;
        @include md{
            margin-bottom: 35px;
            font-size: 24px;
        }
    }
    .products{
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md{
            gap: 20px;
        }
    }
}
